body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #ffeb3b;
    width: 100%;
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    margin-top: 10px;
}

main {
    padding: 20px;
    width: 100%;
    max-width: 1200px;
}

section {
    margin-bottom: 40px;
}

/* Center the random meal section */
#random-meal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#meal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#meals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.meal-item {
    width: 200px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s; /* Smooth scaling effect */
}

.meal-item img {
    width: 100%;
    border-radius: 10px;
}

.meal-item h3 {
    text-align: center;
}

.hidden {
    display: none;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    position: relative;
}

.close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.modal-content ul {
    list-style-type: none;
    padding: 0;
}

.modal-content li {
    padding: 5px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    input[type="text"] {
        width: 90%;
    }

    .jasmine_html-reporter {
        padding-left: 350px;
    }
}

